.home_main_heading{
 text-align: center;
}
.home_main_heading h1 {
 text-align: center;
 color: #000000;
 margin-bottom: 25px;
}
.top_bar_sec {
 padding-top: 60px;
}
.chart_sec{
 padding-top: 50px;
}
.cart_main_heading h1{
 text-align: center;
 padding-bottom: 30px;
}